html, body {
    height: 100%;
    margin: 0;
  }
  
  .app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures that the container takes at least full viewport height */
  }
  
  .main-content {
    flex: 1; /* Allows the main content to expand and push the footer down */
  }
  
  .container {
    padding-left: 30px; /* Increased padding */
    padding-right: 30px; /* Increased padding */
    max-width: 800px; /* Maximum width for the form container */
    margin: 0 auto; /* Center the container */
  }
  
  .card {
    margin-top: 30px; /* Margin to give some space from the top */
  }
  
  footer {
    background-color: #f8f9fa;
    padding: 10px;
    text-align: center;
  }

.o1{
    font-size: 20px;
}